.shop image 1 {
    width: 100%;
}

.shop image 2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: red;
    font-size: 150px;
}

p {
    text-align: center;
    font-size: 40px;
}